/* esercizio 1 */
.ex-1-square {
    transition: 0.7s linear;
}
.ex-1-square:hover {
    background-color: red;
}
/* esercizio 2 */
.ex-2-square {
    transition: 2s ease-in;
}
.ex-2-square:active {
    width: 100%;
}
/* esercizio 3 */
.ex-3-square {
    transition: 1s ease-out;
}
.ex-3-square:hover {
    border-radius: 50%;
}
/* esercizio 4 */
.ex-4-square {
    transition: 4s ease-in;
}
.ex-4-square:hover {
    background-color: transparent;
}
/* esercizio 5 */
.ex-5-square:hover {
    width: 80px;
    height: 80px;
}
.ex-5-square:active {
    width: 40px;
    height: 40px;
}
/* esercizio 6 */
.ex-6-img:hover {
    filter: grayscale(100%);
}
/* esecizio 7 */
.ex-7-img {
    transition: 5s linear;
}
.ex-7-img:hover {
    filter: blur(100px);
    box-shadow: 10px 10px 20px 15px blue;
}
/* esercizio 8 */
.ex-8-img:hover {
    filter: hue-rotate(90deg);
    box-shadow: 10px 10px violet;
    border-radius: 20px;
}
/* esercizio 9 */
.ex-9-img:hover {
    filter: brightness(80%);
    border-radius: 20px;
    width: 350px;
}
.ex-9-img {
    transition: 2s;
}
/* esercizio 10 */
.ex-10-icon:hover {
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* esercizio 11 da controllare */
.ex-11-icon:hover {
    animation: rotation 3s cubic-bezier(0.23, 1, 0.320, 1) infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
/* esercizio 12 */
 .ex-12-button:hover .ex-12-top-white {
    animation: moveTop 1.5s ease forwards;
 }
 .ex-12-button:hover .ex-12-bottom-white {
    animation: moveBottom 1.5s ease forwards;
 }
 @keyframes moveTop {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(80px);
    }
    100% {
        transform: translateX(0);
    }
 }
 @keyframes moveBottom {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-80px);
    }
    100% {
        transform: translateX(0);
    }
 }
 /* esercizio 13 */